name: CI for testing

on:
  push:
    branches: [ master ]

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install npm dependencies #TODO: cache
        run: |
          npm install
      - name: run tests
        run: |
          npm test
      - name: run eslint tests
        run: |
          npm run lint
    
